[submodule "sqlite-loader-wit"]
	path = sqlite-loader-wit
	url = https://github.com/tegmentum/sqlite-loader-wit.git
[submodule "sqlite-wasm"]
	path = sqlite-wasm
	url = https://github.com/tegmentum/sqlite-wasm.git
[submodule "compression-multiplexer"]
	path = compression-multiplexer
	url = https://github.com/tegmentum/compression-multiplexer.git
